# Data Cleaner for Falls Data from CDC's NHIS
Author: Vikas Enti, venti@mit.edu

This script cleans the csv files from CDC's NHIS Dataset to create a single, easy to analyze and visualize dataset.

In [12]:
import pandas as pd
import sqlite3
import glob

In [16]:
# This is a quick and dirty approach. Rewrite if you need to ingest a lot more CSV files
# Create injury episode dataframes from csv files
#inj_df_2017 = pd.read_csv('NHIS/2017_injpoiep.csv')
#inj_df_2016 = pd.read_csv('NHIS/2016_injpoiep.csv')
#inj_df_2015 = pd.read_csv('NHIS/2015_injpoiep.csv')

# Create sample adult dataframes from csv files
#sam_df_2017 = pd.read_csv('NHIS/2017_samadult.csv')
#sam_df_2016 = pd.read_csv('NHIS/2016_samadult.csv')
#sam_df_2015 = pd.read_csv('NHIS/2015_samadult.csv')

# Elegant approach
# Injury Episodes
inj_epi_df = pd.concat([pd.read_csv(f, encoding='latin1') for f in glob.glob('NHIS/*inj*.csv')], ignore_index=True, sort=True)

# Sameple Adult
sam_adu_df = pd.concat([pd.read_csv(f, encoding='latin1') for f in glob.glob('NHIS/*sam*.csv')], ignore_index=True, sort=True)

In [17]:
inj_epi_df

,BEIFLG,BIETD,EDIPBR,EIETD,ETFLG,FMX,FPX,HHX,ICAUS,ICAUS1A,...,ISBELT,MUMON,MUYEAR,PPCC,PPOIS,RECTYPE,RPCKDMR,RPD,SRVY_YR,WTFA
0,3,56,1,56,2,1,6,74,7.0,NaN,...,NaN,12,2014,NaN,NaN,70,56,56,2015,179
1,3,31,1,31,2,1,7,84,7.0,NaN,...,NaN,1,2015,NaN,NaN,70,31,31,2015,1916
2,3,68,2,77,2,1,1,199,5.0,NaN,...,NaN,12,2014,NaN,NaN,70,502,74,2015,4165
3,3,78,4,87,2,1,3,199,2.0,NaN,...,NaN,11,2014,NaN,NaN,70,503,79,2015,4644
4,3,24,1,24,2,1,2,217,1.0,NaN,...,2.0,2,2015,NaN,NaN,70,24,24,2015,616
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8872,3,7,1,7,2,1,1,58767,NaN,1.0,...,NaN,12,2017,NaN,NaN,70,7,7,2017,2868
8873,3,59,1,59,2,1,1,58767,NaN,1.0,...,NaN,10,2017,NaN,NaN,70,59,59,2017,2868
8874,3,53,1,53,2,1,1,58773,NaN,1.0,...,NaN,9,2017,NaN,NaN,70,53,53,2017,1384
8875,3,27,1,27,2,1,1,58840,NaN,1.0,...,NaN,10,2017,NaN,NaN,70,27,27,2017,9423
8876,3,7,1,7,2,2,1,58891,NaN,1.0,...,NaN,10,2017,NaN,NaN,70,7,7,2017,4598

In [18]:
sam_adu_df

,AASERYR1,AASMEV,AASMYR,AASSTILL,ABLIND,ACHRC14A,ACIBLD12,ACOLD2W,ADNLONG2,ADRNAI,...,YRSWRKPA,YTQU_QG1,YTQU_TA1,YTQU_YG1,YTQ_BTQ1,YTQ_BTT1,YTQ_BTY1,YTQ_MDQ1,YTQ_MDT1,YTQ_MDY1
0,NaN,2,NaN,NaN,NaN,NaN,2.0,2,3,2,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,2,NaN,NaN,NaN,NaN,2.0,2,2,2,...,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,2,NaN,NaN,NaN,NaN,2.0,2,5,2,...,25.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,2,NaN,NaN,NaN,NaN,2.0,2,2,2,...,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,2,NaN,NaN,2.0,NaN,2.0,2,1,2,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93437,NaN,2,NaN,NaN,NaN,NaN,NaN,1,1,2,...,30.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93438,NaN,2,NaN,NaN,NaN,NaN,NaN,2,1,2,...,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93439,NaN,2,NaN,NaN,NaN,NaN,NaN,1,5,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93440,NaN,2,NaN,NaN,NaN,NaN,NaN,2,1,2,...,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93441,NaN,2,NaN,NaN,NaN,NaN,NaN,2,4,2,...,35.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [82]:
# Dictionaries for different variable values
# Source: Injury Episode Frequency file. 
# ftp://ftp.cdc.gov/pub/Health_Statistics/NCHS/Dataset_Documentation/NHIS/2016/Injpoiep_freq.pdf

#ICAUS
injury_cause = {
    1:'In a motor vehicle',
    2:'On a bike, scooter, skateboard, skates, skis, horse, etc',
    3:'Pedestrian who was struck by a vehicle such as a car or bicycle',
    4:'In a boat, train, or plane',
    5:'Fall',
    6:'Burned or scalded by substances such as hot objects or liquids, fire, or chemicals',
    7:'Other',
    97:'Refused',
    98:'Not ascertained',
    99:"Don't know"
}

#ijbody1, ijbody2, ijbody4, ijbody4
body_part = {
    1:'Ankle',
    2:'Back',
    3:'Buttocks',
    4:'Chest',
    5:'Ear',
    6:'Elbow',
    7:'Eye',
    8:'Face',
    9:'Finger/thumb',
    10:'Foot',
    11:'Forearm',
    12:'Groin',
    13:'Hand',
    14:'Head (not face)',
    15:'Hip',
    16:'Jaw',
    17:'Knee',
    18:'Lower leg',
    19:'Mouth',
    20:'Neck',
    22:'Shoulder',
    23:'Stomach',
    24:'Teeth',
    25:'Thigh',
    26:'Toe',
    27:'Upper arm',
    28:'Wrist',
    29:'Other',
    97:'Refused',
    98:'Not ascertained',
    99:"Don't know"
}

#ifall1, ifall2
fall_loc = {
    1:"Stairs, steps, or escalator",
    2:"Floor or level ground",
    3:"Curb (including sidewalk)",
    4:"Ladder or scaffolding",
    5:"Playground equipment",
    6:"Sports field, court, or rink",
    7:"Building or other structure",
    8:"Chair, bed, sofa, or other furniture",
    9:"Bathtub, shower, toilet, or commode",
    10:"Hole or other opening",
    11:"Other",
    97:"Refused",
    98:"Not ascertained",
    99:"Don't know",
}

#ifallwhy
fall_reason = {
    1:"Slipping or tripping",
    2:"Jumping or diving",
    3:"Bumping into an object or another person",
    4:"Being shoved or pushed by another person",
    5:"Losing balance or having dizziness (becoming faint or having a seizure)",
    6:"Other",
    7:"Refused",
    8:"Not ascertained",
    9:"Don't know", 
}

#SEX
gender = {
    1:"Male",
    2:"Female"
}

In [72]:
# Merge both dataframes for easier analysis
nhis_falls = pd.merge(sam_adu_df, inj_epi_df, on = ['SRVY_YR','HHX','FMX','FPX'], how = 'inner')
nhis_falls = nhis_falls.fillna(999)
nhis_falls = nhis_falls.astype('int32')

In [83]:
# Embed dictionary values as new columns
nhis_falls['injury_cause'] = nhis_falls['ICAUS'].map(injury_cause)
nhis_falls['body_part1'] = nhis_falls['IJBODY1'].map(body_part)
nhis_falls['body_part2'] = nhis_falls['IJBODY2'].map(body_part)
nhis_falls['body_part3'] = nhis_falls['IJBODY3'].map(body_part)
nhis_falls['body_part4'] = nhis_falls['IJBODY4'].map(body_part)
nhis_falls['fall_loc1'] = nhis_falls['IFALL1'].map(fall_loc)
nhis_falls['fall_loc2'] = nhis_falls['IFALL2'].map(fall_loc)
nhis_falls['fall_reason'] = nhis_falls['IFALLWHY'].map(fall_reason)
nhis_falls['gender'] = nhis_falls['SEX'].map(gender)

In [79]:
nhis_falls['ICAUS']

0       7
1       7
2       5
3       7
4       7
       ..
3870    5
3871    5
3872    5
3873    7
3874    7
Name: ICAUS, Length: 3875, dtype: int32

In [84]:
# Output select variables from dataframe to csv file
header = ['SRVY_YR','HHX','FMX','FPX','AGE_P','gender','ICAUS','IJBODY1','IJBODY2','IJBODY3','IJBODY4',
         'IFALL1','IFALL2','IFALLWHY','injury_cause','body_part1','body_part2','body_part3','body_part4',
         'fall_loc1','fall_loc2','fall_reason']
nhis_falls.to_csv('NHIS/nhis_falls.csv', columns=header)

In [86]:
nhis_falls[header]

,SRVY_YR,HHX,FMX,FPX,AGE_P,gender,ICAUS,IJBODY1,IJBODY2,IJBODY3,...,IFALL2,IFALLWHY,injury_cause,body_part1,body_part2,body_part3,body_part4,fall_loc1,fall_loc2,fall_reason
0,2016,80,1,1,59,Male,7,15,0,0,...,999,999,Other,Hip,NaN,NaN,NaN,NaN,NaN,NaN
1,2016,107,1,1,22,Female,7,28,0,0,...,999,999,Other,Wrist,NaN,NaN,NaN,NaN,NaN,NaN
2,2016,171,1,2,42,Male,5,26,0,0,...,0,6,Fall,Toe,NaN,NaN,NaN,Ladder or scaffolding,NaN,Other
3,2016,269,1,1,43,Male,7,10,0,0,...,999,999,Other,Foot,NaN,NaN,NaN,NaN,NaN,NaN
4,2016,269,1,1,43,Male,7,21,0,0,...,999,999,Other,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3870,2015,84976,1,1,57,Male,5,27,0,0,...,0,1,Fall,Upper arm,NaN,NaN,NaN,Other,NaN,Slipping or tripping
3871,2015,85090,1,1,71,Male,5,28,0,0,...,0,1,Fall,Wrist,NaN,NaN,NaN,Floor or level ground,NaN,Slipping or tripping
3872,2015,85193,1,1,85,Male,5,18,0,0,...,0,5,Fall,Lower leg,NaN,NaN,NaN,Floor or level ground,NaN,Losing balance or having dizziness (becoming f...
3873,2015,85196,1,2,54,Female,7,1,0,0,...,999,999,Other,Ankle,NaN,NaN,NaN,NaN,NaN,NaN
3874,2015,85273,1,1,32,Male,7,2,0,0,...,999,999,Other,Back,NaN,NaN,NaN,NaN,NaN,NaN